{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    /* Login Page Styles */
.container {
        margin-top: 50px; /* Adjust as needed */
        background-size: cover;
        background-position: center;
    }

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #2358ca; /* Blue */
    color: #fff;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 15px;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}

.btn-primary {
    background-color: #007bff; /* Blue */
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker blue */
}

.card-footer {
    border-top: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

</style>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>Login</h4>
          </div>
          <div class="card-body">
            {% if error_message %}
              <div class="alert alert-danger" role="alert">
                {{ error_message }}
              </div>
            {% endif %}
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              <button type="submit" class="btn btn-primary"><a href="{% url 'my_profile:dashboard1' %}"></a>Login</button>
            </form>
          </div>
          <div class="card-footer">
            <p>Don't have an account? <a href="{% url 'auth_app:register' %}">Register</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}