asgiref==3.8.1
asn1crypto==1.5.1
attrs==23.2.0
blinker==1.8.2
Brlapi==0.8.5
catfish==4.16.4
certifi==2024.6.2
chardet==3.0.4
charset-normalizer==3.3.2
cryptography==42.0.5
cupshelpers==1.0
dbus-python==1.3.2
distro==1.9.0
distro-info==1.7
Django==5.0.6
django-cors-headers==4.3.1
django-daraja==1.3.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
environ==1.0
Flask==1.1.2
Flask-Cors==3.0.8
fuse-python==1.0.8
hatch-vcs==0.4.0
hatchling==1.24.2
html5lib==1.1
httplib2==0.22.0
idna==2.6
Jinja2==2.11.2
joblib==1.4.2
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.12.1
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lightdm-gtk-greeter-settings==1.2.3
louis==3.30.0
Mako==1.3.2.dev0
MarkupSafe==2.1.5
mechanize==0.4.10
netifaces==0.11.0
nftables==0.1
nltk==3.8.1
oauthlib==3.2.2
onboard==1.4.1
openai==1.16.2
packaging==24.0
pathspec==0.12.1
pexpect==4.9.0
pluggy==1.5.0
ptyprocess==0.7.0
pycairo==1.26.0
pycodestyle==2.6.0
pycups==2.0.4
PyGObject==3.48.2
PyJWT==2.7.0
pylibacl==0.7.0
pymongo==4.7.2
PyMySQL==1.1.1
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-sip==12.13.0
pysmbc==1.0.25.1
python-apt==2.9.0
python-dateutil==2.9.0
python-decouple==3.8
pyxattr==0.8.1
pyxdg==0.28
referencing==0.31.0
regex==2024.5.15
requests==2.18.4
rfc3987==1.3.8
rpds-py==0.12.0
setuptools-scm==8.1.0
six==1.16.0
sqlparse==0.5.0
tornado==6.4
trove-classifiers==2024.1.31
tzdata==2024.1
uritemplate==4.1.1
urllib3==1.22
wadllib==1.3.6
webcolors==1.13
webencodings==0.5.1
xdg==5
